.wrap{
	display: flex;
	margin-top: 20px;
}
.user{
	width: 200px;
	height: 100%;
	background-color: #6555;
}
.dialoge{
	width: 155px;
	height: 30px;
	box-shadow: 8px 8px 12px rgba(0,0,0,0.3);
	background-color: #fff;
	padding: 10px;
	padding-left: 25px;
	margin-top:2px;
	font-size: 18px;
	display: block;


}

.messages{
	width: 650px;
	height: auto;
	margin-left: 30px;
}
.enter{
	width: 600px;
	margin-top: 20px;
	display: flex;

}
.field{
	width: 500px;
	height: 50px;
	margin-right: 20px;

}
.btn{
	width: 80px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border:1px solid #000;
	text-transform: uppercase;
	margin-left: -1px;
	margin-top: 7px;

}

.letter{
	width:320px;
	height: auto;
	margin-top: 10px;
	border: 1px solid #cdcdcd;
	padding: 10px;
	display: flex;
}
.letter:nth-child(2n-1){
margin-left: 380px;
background-color: #5888;
flex-direction: row-reverse;
}
.letter:nth-child(2n){

}
.letter img{
	widows: 40px;
	height: 40px;
	margin-right: 20px;

}
.letter:nth-child(2n-1).letter img{
	margin-left: 20px;
	margin-right:0;
}
.text{
	widows: auto;
	padding-top: 10px;
}